In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [8]:
df = pd.read_csv('flood_risk_dataset_india.csv')
print('files imported successfully')

files imported successfully

In [21]:
df

,Latitude,Longitude,Rainfall (mm),Temperature (°C),Humidity (%),River Discharge (m³/s),Water Level (m),Elevation (m),Land Cover,Soil Type,Population Density,Infrastructure,Historical Floods,Flood Occurred
0,18.861663,78.835584,218.999493,34.144337,43.912963,4236.182888,7.415552,377.465434,Water Body,Clay,7276.742184,1.0,0.0,1
1,35.570715,77.654451,55.353599,28.778774,27.585422,2472.585219,8.811019,7330.608875,Forest,Peat,6897.736956,0.0,1.0,0
2,29.227824,73.108463,103.991908,43.934956,30.108738,977.328053,4.631799,2205.873488,Agricultural,Loam,4361.518494,1.0,1.0,1
3,25.361096,85.610733,198.984191,21.569354,34.453690,3683.208933,2.891787,2512.277800,Desert,Sandy,6163.069701,1.0,1.0,0
4,12.524541,81.822101,144.626803,32.635692,36.292267,2093.390678,3.188466,2001.818223,Agricultural,Loam,6167.964591,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,19.527152,80.856280,120.301453,28.029593,61.680873,2036.812638,2.004644,1146.986151,Water Body,Sandy,906.031452,1.0,0.0,1
9999,14.297072,72.995680,77.219394,29.622711,88.936537,2614.166967,0.991856,8381.595028,Desert,Clay,4530.770301,1.0,1.0,1
10000,9.311591,83.276298,273.864524,32.369090,55.264638,2146.155567,2.855264,8263.959333,Desert,Sandy,6278.154917,0.0,0.0,1
10001,35.454530,76.807256,5.836759,23.087083,79.919607,1523.374305,9.209185,3377.296962,Desert,Clay,7149.938303,1.0,0.0,1
10002,21.662200,70.595955,47.477868,31.774465,64.771080,1504.834080,1.413081,7977.882655,Desert,Silt,5274.123180,1.0,1.0,1

In [24]:
#This codes checks the existing data types in the dataset

df.dtypes

Latitude                  float64
Longitude                 float64
Rainfall (mm)             float64
Temperature (°C)          float64
Humidity (%)              float64
River Discharge (m³/s)    float64
Water Level (m)           float64
Elevation (m)             float64
Land Cover                 object
Soil Type                  object
Population Density        float64
Infrastructure            float64
Historical Floods         float64
Flood Occurred              int64
dtype: object

In [25]:
df.isnull().sum()

Latitude                  0
Longitude                 0
Rainfall (mm)             0
Temperature (°C)          0
Humidity (%)              0
River Discharge (m³/s)    0
Water Level (m)           1
Elevation (m)             0
Land Cover                1
Soil Type                 0
Population Density        0
Infrastructure            1
Historical Floods         1
Flood Occurred            0
dtype: int64

In [22]:
df.shape

(10003, 14)

In [35]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
9998     False
9999     False
10000     True
10001     True
10002     True
Length: 10003, dtype: bool

In [26]:
df.describe()

,Latitude,Longitude,Rainfall (mm),Temperature (°C),Humidity (%),River Discharge (m³/s),Water Level (m),Elevation (m),Population Density,Infrastructure,Historical Floods,Flood Occurred
count,10003.000000,10003.000000,10003.000000,10003.000000,10003.000000,10003.000000,10002.000000,10003.000000,10003.000000,10002.000000,10002.000000,10003.000000
mean,22.330571,82.629645,150.002835,29.961136,59.751175,2515.485736,5.018023,4417.774758,5021.832114,0.502100,0.498600,0.505848
std,8.342073,8.389351,86.046324,8.668862,23.140240,1441.564518,2.876749,2530.430097,2882.266238,0.500021,0.500023,0.499991
min,8.000337,68.004575,0.014437,15.000166,20.001339,0.042161,0.002701,1.150340,2.289000,0.000000,0.000000,0.000000
25%,15.142975,75.363831,76.106994,22.406786,39.544033,1285.296107,2.539421,2230.207439,2493.318309,0.000000,0.000000,0.000000
50%,22.283134,82.670152,150.619375,30.005920,59.510792,2529.792750,5.042094,4417.637043,5076.291757,1.000000,0.000000,1.000000
75%,29.463149,89.935737,223.409840,37.411713,80.033643,3766.861854,7.525075,6616.935991,7473.942799,1.000000,1.000000,1.000000
max,36.991813,96.997820,299.970293,44.993681,99.997772,4999.698480,9.996899,8846.894877,9999.169530,1.000000,1.000000,1.000000

In [27]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
9998     False
9999     False
10000     True
10001     True
10002     True
Length: 10003, dtype: bool

In [29]:
for col in df.columns:
    print(f"\n--{col}--")
    print(df[col].value_counts(dropna=False))

--Latitude--
Latitude
35.454530    2
9.311591     2
21.662200    2
33.241613    1
24.188721    1
            ..
26.393327    1
18.263264    1
25.496441    1
17.048038    1
34.384886    1
Name: count, Length: 10000, dtype: int64

--Longitude--
Longitude
76.807256    2
83.276298    2
70.595955    2
77.847532    1
93.971290    1
            ..
80.820408    1
93.808844    1
81.558668    1
92.641678    1
77.488169    1
Name: count, Length: 10000, dtype: int64

--Rainfall (mm)--
Rainfall (mm)
5.836759      2
273.864524    2
47.477868     2
46.377270     1
182.312450    1
             ..
188.660279    1
66.947319     1
116.361680    1
257.001628    1
221.671773    1
Name: count, Length: 10000, dtype: int64

--Temperature (°C)--
Temperature (°C)
23.087083    2
32.369090    2
31.774465    2
15.442249    1
38.306395    1
            ..
16.193376    1
32.078515    1
18.159103    1
35.411896    1
15.236767    1
Name: count, Length: 10000, dtype: int64

--Humidity (%)--
Humidity (%)
79.919607    2
55.264638    2
64.771080    2
66.989836    1
55.422657    1
            ..
73.330186    1
37.097822    1
28.549191    1
68.160801    1
89.190398    1
Name: count, Length: 10000, dtype: int64

--River Discharge (m³/s)--
River Discharge (m³/s)
1523.374305    2
2146.155567    2
1504.834080    2
3167.019475    1
1668.390644    1
              ..
1220.452736    1
3955.255630    1
2237.235706    1
1674.052394    1
1017.333518    1
Name: count, Length: 10000, dtype: int64

--Water Level (m)--
Water Level (m)
9.209185    2
2.855264    2
1.413081    2
2.226044    1
7.409937    1
           ..
9.798743    1
0.378870    1
8.701276    1
3.214759    1
9.217145    1
Name: count, Length: 10000, dtype: int64

--Elevation (m)--
Elevation (m)
3377.296962    2
8263.959333    2
7977.882655    2
2422.112390    1
837.136736     1
              ..
8377.112827    1
1551.286893    1
7388.849520    1
4330.370321    1
5855.713722    1
Name: count, Length: 10000, dtype: int64

--Land Cover--
Land Cover
Water Body      2046
Desert          2036
Forest          2005
Agricultural    1978
Urban           1937
NaN                1
Name: count, dtype: int64

--Soil Type--
Soil Type
Peat     2052
Silt     2045
Clay     1979
Loam     1972
Sandy    1955
Name: count, dtype: int64

--Population Density--
Population Density
7149.938303    2
6278.154917    2
5274.123180    2
1140.103224    1
6174.546322    1
              ..
1373.746356    1
5109.103168    1
5500.513613    1
1657.638739    1
6966.725459    1
Name: count, Length: 10000, dtype: int64

--Infrastructure--
Infrastructure
1.0    5022
0.0    4980
NaN       1
Name: count, dtype: int64

--Historical Floods--
Historical Floods
0.0    5015
1.0    4987
NaN       1
Name: count, dtype: int64

--Flood Occurred--
Flood Occurred
1    5060
0    4943
Name: count, dtype: int64

Observation:

- The columns has the right data types
- This dataset contains missing values on 'Water Level', 'Land Cover', 'Infrastructure', and 'Historical Floods'
- - There are three duplicate rows in the dataset